extends ../../layout/default.pug
include ../../mixin/search-form
include ../../mixin/pagination.pug
include ../../mixin/moment.pug
include ../../mixin/form-change-multi.pug



block main  
  if(role.permissions.includes("del-products_view"))
    h2 Danh sách Sản Phẩm Delete

    .card.mb-3 
      .card-header Tìm kiếm sản phẩm
      .card-body 
        .row 
          .col-8 
            if(role.permissions.includes("del-products_delete") || role.permissions.includes("del-products_restore"))
              +form-change-multiDel(`${prefixAdmin}/sp-delete/change-multi?_method=PATCH`)
          .col-4 
            +search-form(keyword)

        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead 
            tr 
              if(role.permissions.includes("del-products_delete") || role.permissions.includes("del-products_restore")) 
                th 
                  input(type="checkbox" name="checkall")
              th STT 
              th Hình ảnh
              th Tiêu đề
              th Giá
              th Trạng thái
              th Người xóa 
              if(role.permissions.includes("del-products_delete") || role.permissions.includes("del-products_restore"))
                th Hành động
          tbody
            each item, index in products
              tr  
                if(role.permissions.includes("del-products_delete") || role.permissions.includes("del-products_restore"))
                  td 
                    input(
                      type="checkbox"
                      name="id"
                      value=item.id
                    )
                td #{pagination.limitItems*(pagination.currentPage-1)+(index+1)}
                td 
                  img(
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="auto"
                  )
                td #{item.title}
                td #{item.price}$ 
                td 
                  if(item.status == "active")
                    a(
                      href="javascript:;" 
                      class="badge badge-success"
                    ) Hoạt động
                  else 
                    a(
                      href="javascript:;" 
                      class="badge badge-danger"
                    ) Dừng hoạt động

                td 
                  p #{item.account_Fullname}
                  p 
                    +formatDate(item.deletedBy.deletedAt)
                td 
                  if(role.permissions.includes("del-products_restore"))
                    button(
                      class="btn btn-warning"
                      button-restore 
                      data-id=item.id
                    ) Khôi phục 
                  if(role.permissions.includes("del-products_delete"))
                    button(
                      class="btn btn-danger"
                      button-delete 
                      data-id=item.id
                    ) Xóa
    
    nav 
      +pagination(pagination)

    form(
      action=""
      method="POST"
      id="form-restore-item"
      data-path=`${prefixAdmin}/sp-delete/restore`
    ) 

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/sp-delete/delete`
    ) 
    script(src="/admin/js/sp-delete.js") 