include ../mixins/sub-menu.pug

header(class="header")


  .container 
    .row.align-items-center 
      .col-2 
        .inner-logo 
          a(href="/")
            img(src=settingGeneral.logo alt=settingGeneral.websiteName)
      .col-4 
        .inner-search 
          form(
            action="/search"
            method="GET"
          ) 
            div(class="form-gruop d-flex mb-0")
              input(
                type="text"
                name="keyword"
                placeholder="Tìm kiếm sản phẩm"
                class="form-control"
                value=keyword
              )
              button(
                type="submit"
                class="btn btn-primary"
              ) Tìm
      .col-6 
        .inner-menu 
          ul  
            li 
              a(href="/") Trang Chủ
            li(class="sub-menu") 
              -const pathProduct = "/products"
              a(href=pathProduct) Sản Phẩm 

              +sub-menu(layoutproduct, pathProduct)
            li(class="sub-menu") 
              -const pathArticle = "/articles"
              a(href=pathArticle) Blog 
              +sub-menu(layoutarticle, pathArticle)

            li 
              a(href="/cart") 
                i(class="fa-solid fa-cart-plus") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            if(user)
              li 
                a(href="/chat") Chat 
              li 
                a(href="/userSocket/friends") Bạn bè
              li 
                a(href="/rooms-chat") Phòng chát
              li
                a(href="/user/logout") Đăng Xuất
              li 
                a(href="/user/infor") #{user.fullName}
            else
              li 
                a(href="/user/register") Đăng ký 
              li 
                a(href="/user/login") Đăng nhập 

              
              



              

