extends ../../layout/auth.pug
include ../../mixin/alert.pug

block main
  +alert-error(5000)

  .container.my-4 
    .row.justify-content-center 
      .col-8
        h1(class="text-center") Đăng nhập
        form(
          action=`${prefixAdmin}/auth/login`
          method="POST"
        ) 
          div(class="form-group")
            label(for="email") Email 
            input(
              class="form-control"
              type="emal"
              id="email"
              name="email"
            ) 

          div(class="form-group")
            label(for="password") Mật khẩu 
            input(
              class="form-control"
              type="password"
              id="password"
              name="password"
            )
          
          div(class="form-group text-center")
            button(
              type="submit"
              class="btn btn-primary"
            ) Đăng nhập