extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-layout.pug


block main 
  +alert-success(5000)
  +alert-error(5000)
  .product-detail
    .container.my-3 
      .row 
        .col-6 
          if(product.thumbnail)
            div(class="mb-4 inner-img-detail")  
              img(
                src=product.thumbnail
              )

        .col-6.py-3
          if(product.title)
            h1(class="mb-4 inner-title-detail") #{product.title}

          if(product.category)
            div(class="mb-4 inner-category-detail") Danh mục:  
              a(href=`/products/${product.category.slug}`) #{product.category.title}

          if(product.priceNew)
            div(class="mb-4 inner-priceNew-detail") Giá hiện tại: <b>#{product.priceNew.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</b>

          if(product.price)
            div(class="mb-4 inner-price-detail") Giá khi chưa giảm: <del>#{product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</del>

          if(product.discountPercentage)
            div(class="mb-4 inner-discountPercentage-detail") Giảm giá: <span>#{product.discountPercentage}%</span>
          
          if(product.stock)
            div(class="mb-4 inner-stock-detail") Còn lại: <span>#{product.stock}</span> sản phẩm

          form(
            action=`/cart/add/${product.id}`
            method="POST"
          ) 
            input(
              type="number"
              name="quantity"
              class="form-control mb-2"
              value="1"
              min="1"
              max=product.stock
            )

            button(
              type="submit"
              class="btn btn-success btn-block button-detail"
            ) Thêm vào giỏ hàng

            p(id="show-preview" class= "btn btn-success btn-block button-detail mt-2") Viết đánh giá
      
      .row.my-5 
        .col-12
          +box-head("Mô trả sản phẩm")
          .inner-description-detail.px-3 !{product.description}
      .row.mt-4 
        .col-12
          +box-head("Sản phẩm tương tự")      
      +product-grid(newProudctCategory)

      if(user)
        .row.d-flex.justify-content-center 
          .col-8 
            .preview 
              form(
                action=`/product-preview`
                method="POST"
              )
                div(class="preview-img")
                  img(src=product.thumbnail)
                div(class="preview-title") #{product.title}
                input(type="hidden" name="productId" value=product.id)
                textarea(
                  placeholder="Mời bạn chia sẻ cảm nhận của mình..."
                  name="content"
                  class="form-control mb-2"
                  rows="5"
                  required
                )
                button(
                  type="submit"
                  class="btn btn-success btn-block button-detail"
                ) Gửi đánh giá
              div(class="preview-icon" id="close-preview")
                | <i class="fa-solid fa-xmark"></i>

      else 
        .preview-error Vui lòng đăng nhập để có thể đánh giá sản phẩm.
          div(class="preview-error_icon" id="close-preview")
            | <i class="fa-solid fa-xmark"></i>