mixin product-item(item)
    .col-3.mb-3 
        .product-item 
            a(href=`/products/detail/${item.slug}`)
                .inner-img  
                    img(src=item.thumbnail, alt=item.title)
                    if(item.featured=="1")
                        .inner-featured Nổi bật
                .inner-content
                    h3.inner-title  #{item.title}
                    .inner-price-new #{item.priceNew.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
                    del(class="inner-price-old") #{item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
                    .inner-discount #{item.discountPercentage}%
                    form(
                        action=`/cart/add/${item.id}`
                        method="POST"
                    ) 
                        input(
                            type="hidden"
                            name="quantity"
                            value="1"
                        )
                        button(class="inner-product-cart") <i class="total fa-brands fa-shopify"></i>

