extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug


block main 

  +alert-success(2000)
  .container
    .row
      .col-12.mt-3
        +box-head("Giỏ hàng")

      .col-12.d-flex.justify-content-end
        a(class="btn-order" href="/cart/order") Xem lịch sử mua hàng 
      .col-12.cart-shopping.my-3
        if(cartDetail.products.length > 0)
          table(
            class="table table-hover"
            checkbox-multi
          )
            thead 
              tr 
                th 
                  input(type="checkbox" name="checkall")
                th STT 
                th Ảnh
                th Tên
                th Giá 
                th Số lượng
                th tổng tiền
                th Hành động 
            tbody 
              each item, index in cartDetail.products 
                tr 
                  td 
                    input(
                      type="checkbox"
                      name="id"
                      value=item.id
                      product-id=item.product_id
                    )
                  td #{index +1}
                  td 
                    img(src=item.productInfo.thumbnail, alt=item.productInfo.title width="80px")
                  td 
                    a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                  td #{item.productInfo.priceNew.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
                  td
                    input(
                      type="number"
                      name="quantity"
                      value=item.quantity
                      min="1"
                      style="width: 60px"
                      product-id=item.product_id 
                    ) 
                  td #{item.totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
                  td  
                    a(href=`/cart/delete/${item.product_id}` class="btn btn-danger") Xóa 

        else 
          p(class="cart-none") Bạn chưa thêm sản phẩm nào vào giỏ hàng.
          .btn-center-home
            a(class="btn-order" href="/") Thêm vào giỏ hàng ngay
        if(cartDetail.products.length > 0)
          h4(class="text-right") Tổng đơn hàng: <b>#{cartDetail.totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</b>
          div(class="text-right mt-4")
            a(href="/checkout" class="btn btn-success pay" ) Thanh toán

      script(src="/js/cart.js")
      


