extends ../../layout/default.pug

block main 
  .row.mt-4
    .col-8 
      <div id="chart"></div> 
    .col-4
      .card.mb-4 
        .card-header Thông tin tài khoản 
        .card-body 
          if(user.avatar)
            img(
              src=user.avatar
              style="height: 100px; margin-bottom: 15px"
            )
          if(user.fullName)
            p Họ tên: <b>#{user.fullName}</b>
          if(user.email)
            p Email: <b>#{user.email}</b>
          if(user.phone)
             p Số điện thoại: <b>#{user.phone}</b>
          if(role.title)
            p Phân quyền: <b>#{role.title}</b>

    .col-4.text-center 
      .box-cart.d-flex.mb-4
        .box-cart-icon.icon-category-product 
          | <i class="fa-solid fa-layer-group"></i>
        .box-cart-content
          .box-cart-total.text-center #{statistic.categoryProduct.total}
          .box-cart-title.title-category-product.text-center Danh mục sản phẩm
    .col-4.text-center
      .box-cart.d-flex.mb-4
          .box-cart-icon.icon-list-product 
            | <i class="fa-solid fa-table-list"></i>
          .box-cart-content
            .box-cart-total.text-center #{statistic.product.total}
            .box-cart-title.title-list-product.text-center Danh sách sản phẩm 
    
    .col-4.text-center
      .box-cart.d-flex.mb-4
          .box-cart-icon.icon-catogory-article 
            | <i class="fa-regular fa-newspaper"></i>
          .box-cart-content
            .box-cart-total.text-center #{statistic.categoryActicle.total}
            .box-cart-title.title-catogory-article.text-center Danh mục bài viết 
    .col-4.text-center
      .box-cart.d-flex.mb-4
          .box-cart-icon.icon-list-article 
            | <i class="fa-solid fa-list-ul"></i>
          .box-cart-content
            .box-cart-total.text-center #{statistic.acticle.total}
            .box-cart-title.title-list-article.text-center Danh sách bài viết  
    
    .col-4.text-center
      .box-cart.d-flex.mb-4
          .box-cart-icon.icon-account
            | <i class="fa-solid fa-user-secret"></i>
          .box-cart-content
            .box-cart-total.text-center #{statistic.account.total}
            .box-cart-title.title-account.text-center tài khoản admin   
    .col-4.text-center
      .box-cart.d-flex.mb-4
          .box-cart-icon.icon-user
            | <i class="fa-solid fa-users"></i>
          .box-cart-content
            .box-cart-total.text-center #{statistic.user.total}
            .box-cart-title.title-user.text-center tài khoản client

  
  
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
