extends ../../layout/default.pug

block main 
  h1 Trang tong quan

  .row.mt-4 
    .col-12
      .card.mb-4 
        .card-header Thông tin tài khoản 
        .card-body 
          if(user.avatar)
            img(
              src=user.avatar
              style="height: 100px; margin-bottom: 15px"
            )
          if(user.fullName)
            p Họ tên: <b>#{user.fullName}</b>
          if(user.email)
            p Email: <b>#{user.email}</b>
          if(user.phone)
            p Số điện thoại: <b>#{user.phone}</b>
          if(role.title)
            p Phân quyền: <b>#{role.title}</b>

    .col-6  
      .card.mb-4 
        .card-header Danh mục sản phẩm 
        .card-body 
          p Số lượng: #{statistic.categoryProduct.total}
          p Hoạt động: #{statistic.categoryProduct.active}
          p Dừng hoạt động: #{statistic.categoryProduct.inactive}
    .col-6  
      .card.mb-4 
        .card-header Danh sách sản phẩm 
        .card-body 
          p Số lượng: #{statistic.product.total}
          p Hoạt động: #{statistic.product.active}
          p Dừng hoạt động: #{statistic.product.inactive}
    .col-6  
      .card.mb-4 
        .card-header Danh mục bài viết
        .card-body 
          p Số lượng: #{statistic.categoryActicle.total}
          p Hoạt động: #{statistic.categoryActicle.active}
          p Dừng hoạt động: #{statistic.categoryActicle.inactive}
    .col-6  
      .card.mb-4 
        .card-header Danh sách bài viết 
        .card-body 
          p Số lượng: #{statistic.acticle.total}
          p Hoạt động: #{statistic.acticle.active}
          p Dừng hoạt động: #{statistic.acticle.inactive}
    .col-6  
      .card.mb-4 
        .card-header tài khoản admin 
        .card-body 
          p Số lượng: #{statistic.account.total}
          p Hoạt động: #{statistic.account.active}
          p Dừng hoạt động: #{statistic.account.inactive}
    .col-6  
      .card.mb-4 
        .card-header tài khoản client
        .card-body 
          p Số lượng: #{statistic.user.total}
          p Hoạt động: #{statistic.user.active}
          p Dừng hoạt động: #{statistic.user.inactive}